{% extends "CodeAutoApp/base.html" %}

 {% block content %}


<html lang="en">

<body>

 <div class="container2 row p-0 m-0 col-12">
      <!--  <a class="btn btn-info form-control text-white"> Run Script</a> -->
<!-- pause  -->
       <div  class="div1 col-6" >

 <img src="data:image/png;base64,{{ data }}" alt="" height="350" ,width="350">

       </div>

      <!-- pause  -->
        <div  class="div1 p-1 col-6" >

     <img src="data:image/png;base64,{{ data1 }}" alt="" height="400" ,width="350">

        </div>

       <!-- pause  -->
        <div  class="div1 p-2 col-6" >

     <img src="data:image/png;base64,{{ data2 }}" alt="" height="400" ,width="350">

        </div>

       <!-- pause  -->
        <div  class="div1 p-2 col-6" >

     <img src="data:image/png;base64,{{ data7 }}" alt="" height="400" ,width="350">

        </div>

         <!-- pause  -->
        <div  class="div1 p-2 col-6" >

     <img src="data:image/png;base64,{{ data3 }}" alt="" height="400" ,width="300">

        </div>


        <!-- pause  -->
        <div  class="div1 p-2 col-6" >


<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
     <tr>
         <td>Full Name</td>
         <td>Mobile</td>
         <td>Age</td>
         <td>

         </td>
     </tr>
  </thead>
  <tbody>
      {% for patient in Patient_list %}
        <tr>
            <td>{{patient.firstname}}</td>
           <td>{{patient.residencephone}}</td>
           <td>{{patient.age}}</td>
            <td>

            </td>


        </tr>
      {% endfor %}
  </tbody>
</table>

        </div>

 </div>


</body>
</html>

{% endblock content %}