{% extends "CodeAutoApp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

 {% block content %}


<link href="{% static 'js/jquery-ui-1.13.0/jquery-ui.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.13.0/jquery-ui.structure.min.css' %}" rel="stylesheet">
<link href="{% static 'js/jquery-ui-1.13.0/jquery-ui.theme.min.css' %}" rel="stylesheet">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.13.0/jquery-ui.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>



     <!-- pause  -->
       <div style="border:1px solid black; background-color:white; margin: 1px 0px" class="div1 col-4" >

      <div class="container3">
      <div class="col-md-12 offset-md-1 mt-5">
      <div class="jumbotron1">
        <h2 class="display-5">SMS Job</h2>
        <p class="lead font-italic">Test by running job or save for recurrency</p>
        <hr class="my-4">





<form action="" method="post" autocomplete="off">
 {% csrf_token %}
 <!--{{form_sms|crispy}}  -->

 {{form_sms.message|as_crispy_field}}
    <br>
  {{form_sms.SenderId|as_crispy_field}}
    <br>
 {{form_sms.RecurrentType|as_crispy_field}}
    <br>
  {{form_sms.RecurrentDate|as_crispy_field}}
    <br>
 {{form_sms.StartDate|as_crispy_field}}
    <br>
  {{form_sms.EndDate|as_crispy_field}}
    <br>

  <!--<input type="text" id=".dateinput" name=".dateinput"> -->



    <div class="row">
          <div class="col-md-5">
               <button type="submit" class="btn btn-success btn-block btn-lg" name="action" value="run_sms"><i class="fas fa-stream"></i>Run</button>
        </div>

          <div class="col-md-7">

        <button style="background-color:red" type="submit" class="btn btn-success btn-block btn-lg" name="action" value="save_sms"><i class="fas fa-database"></i>Save Job</button>


        </div>
    </div>

    <br>

<br>

</form>


      </div>
      </div>
      </div>

       </div>



          <hr>

       <!-- My SMS Jobs  -->
      <div style="background-color:white" class="div1 p-1 col-12" >

      <div class="container3">
      <div class="col-md-12 offset-md-1 mt-5">
      <div class="jumbotron">
        <h2 class="display-5">My SMS Jobs</h2>
        <p class="lead font-italic">Python Django project for implementing CRUD operations</p>
        <hr class="my-4">


 <table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
     <tr>
         <td>Message</td>
          <td>SenderId</td>
         <td>RecurrentType</td>
         <td>RecurrentDate</td>
          <td>StartDate</td>
          <td>EndDate</td>
          <td>created_at</td>
          <td>Paused</td>
         <td>

         </td>
     </tr>
  </thead>
  <tbody>
      {% for SMSJob in SMSJob_list %}
        <tr>

            <td>{{SMSJob.message}}</td>
            <td>{{SMSJob.SenderId}}</td>
            <td>{{SMSJob.RecurrentType}}</td>
            <td>{{SMSJob.RecurrentDate}}</td>
            <td>{{SMSJob.StartDate}}</td>
            <td>{{SMSJob.EndDate}}</td>
            <td>{{SMSJob.created_at}}</td>
             <td>{{SMSJob.Paused}}</td>
            <td>
                {{ScriptJob.name}}
                <a href="{% url 'home' %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>

            </td>
        </tr>
      {% endfor %}
  </tbody>
</table>



      </div>
      </div>
      </div>

       </div>

      <br>




 {% endblock content %}